<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_header.html" %}
</head>
{% include "_nav.html" %}
<body>
<div class="container-fluid mt-2">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    <div class="alert alert-primary">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
{% block body %}
{% endblock %}


{% include "_footer.html" %}
</body>
</html>