{% extends "base.html" %}

{% block body %}
    <div class="col-4 offset-4 mt-5">
        <div class="card shadow">
            <h6 class="card-header">
                Choose your login options
            </h6>
        <div class="card-body">
            <div id="administrator_login">
                <a href="/admin_login">Administrator click here to login</a>
            </div>
            <div id="faculty_login">
                <a href="/faculty_login">Faculty click here to login</a>
            </div>
            <div id="moderator_login">
                <a href="/moderator_login">Moderator click here to login</a>
            </div>
        </div>
    </div>
    </div>


{% endblock %}