{% extends "base.html" %}

{% block body %}
    <form class="container mt-3 mb-3" method="post" action="{{ url_for('day_time_selection') }}">
        <h5>{{ selected_term.terms }}</h5>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td></td>
            <td>Course Name</td>
             <td>Course Code</td>
             <td>Course Section</td>
             <td>Course Credit</td>
             <td>Course Notes</td>
             <td>Course TOM Notes</td>
             <td>Teaching days</td>
        </tr>
    </thead>
    <tbody>
        {% for item in selected_courses %}
            <tr>
                <td>
                    <input type="checkbox" value="{{ item.id }}" class="form-input-checkbox" name="selected_course"/>
                </td>
                <td>{{ item.course_name }}</td>
                <td>{{ item.course_code }}</td>
                <td>{{ item.course_section }}</td>
                <td>{{ item.credit }}</td>
                <td>{{ item.notes }}</td>
                <td>{{ item.tom_notes }}</td>
                <td>
                   {% for dt in item.day_time %}
                        {{ dt.days }} - {{ dt.start_time[:2] }}:{{ dt.start_time[2:] }} - {{ dt.end_time[:2] }}:{{ dt.end_time[2:] }}
                   {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}